<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta
      name="keywords"
      content="troop 226, troop 226g, pack 226, troop, pack, 226, 226g, scouts, scouting, stone oak church, stone oak scouts, stone oak"
    />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta
      name="description"
      content="{{ page.description | default: site.description }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{'/assets/css/main.css' | relative_url}}?v={{ site.time | date: '%Y%m%d%H%M' }}"
    />
    <title>{{page.title | default: site.title}}</title>
  </head>
  <body>
    <div class="page-container">
      <div class="content-wrap">
        <header>
          <div class="banner">
            <div class="container">
              <div class="row">
                <h1 class="title ten columns">{{site.title}}</h1>
                <img
                  src="{{site.imageurl}}/website_designed_logo-180.png"
                  height="60"
                  width="60"
                  alt=""
                  class="logo u-pull-right two columns"
                />
              </div>
            </div>
          </div>
          <nav>
            <div class="container">
              <div class="row">
                <ul class="twelve columns">
                  <li><a href="{{'/' | relative_url}}">Home</a></li>
                  <li><a href="{{'/about' | relative_url}}">About</a></li>
                  <li><a href="{{'/leaders' | relative_url}}">Leaders</a></li>
                  <li><a href="{{'/join' | relative_url}}">Join</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </header>
        <main class="container">{{content}}</main>
      </div>
      <footer>
        <p class="row u-center">Copyright &copy; {{ 'now' | date: '%Y' }}</p>
      </footer>
    </div>
  </body>
</html>
